body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    margin-top: 0px;
}

#founder {
    text-align: center;
    margin-top: 0px;
}

#founder img {
    max-width: 100%;
    border-radius: 8px;
}

.branch-container {
    display: flex;
    margin-bottom: 20px;
}

.branch-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.branch-details {
    flex: 1;
}
